/*font-fmaily*/
p {
	font-family: Arial; /*some fonts may require quotes*/
}

h1{
	font-family: Georgia;
}

/*font-size , we can use px or em */

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

#ham {
	font-size: 2.0em;
}



/*font-weight , bold, normal - you can  also use 100-800 depending on the font*/

p {
	font-weight: bold;

}

/*line-height - is determined by the font itself*/

p {
	line-height: 2;
}

/*text-align*/

/*text-decoration*/